.column {
    float: left;
    width: 46%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} 
/*
#main-wrap > div {min-height: 450px; }

#header, 
#footer {
    min-height: 40px;
}

#main-wrap {
    overflow: hidden
}

#left-side {
    float: left
    width: 50%
}

#right-side {
    float: right
    width: 50%
}
*/